<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container cont-content ">
    <a href="{{route('create')}}"><button type="button" class="btn btn-default btn-block">Create New News</button></a>
    <div class="row row-box">
        @foreach($result as $res)
        <div class="col-xs-5 col-sm-2 col-md-3 col-lg-2 post-content">
            <h2>{{$res->title}}</h2>
            <button data-toggle="collapse" data-target="#{{$res->id}}">Description</button>
            <div id="{{$res->id}}" class="collapse">
                <p>{{$res->desc}}</p>
            </div>
            <p>
                <a href="{{route('showNews',['id'=>$res->id])}}" class="btn btn-primary" role="button">Read more</a>
            </p>
            <p>
                <a href="{{route('deleteNews',['id'=>$res->id])}}" class="btn btn-success" role="button">Delete</a>
            </p>
        </div>
        @endforeach
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
        </ul>
        <ul class="pagination pagination-lg">
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul>
    </div>

</div>
$table->integer('category_id')->unsigned()->default(1);
$table->foreign('category_id')->references('id')->on('categories')->onDelete('CASCADE');



<div class="news-div">
    <h2 class="news-title">{{ str_limit(($post->title),15) }}</h2>
    <button data-toggle="collapse" class="btn btn-outline-dark btn-sm"  data-target="#{{$post->id}}">Description</button>
    <div id="{{$post->id}}" class="collapse">
        <p class="news-desc">{{str_limit(($post->desc),30)}}</p>
    </div>

    <a href="{{route('showNews',['id'=>$post->id]) }}" > <button class="btn btn-info btn-sm">Read more</button></a>
</div>






















</body>
</html>
















