body{
    background-color: #F5F8FA;
}

.cont-content {
    background-color: #F5F8FA;
}

.post-img{
    max-width:100%;
    height:100px;
    margin:5px auto;
}

.post-field > p{
    font-style: italic;
}
.read-more{
    float: left;
}
.likeBtn{
    float:left;
}

.news-title{
    word-wrap: break-word;
}

.left-sdb >a{
    list-style: none;
}

.news-desc{
    font-weight: 600;
    font-style:italic ;
    text-transform: capitalize ;
    word-wrap: break-word;
}
.one-post-img{
    max-width: 50%;
    max-height: 350px;
    margin: 0 auto;
}
.short-content{
    margin: 30px 0;
}
.dtb-img{
    max-height: 50px;
}
.nav-header{
    background-color:#2AB27B;
}
.row-box > div{
    height: 300px;
    border:1px solid #51BBDB;
    border-radius:7px ;
    margin:10px;
}
#cat{
    width: 100px;
}


